triton_account_name = "YOUR-TRITON-ACCOUNT-NAME"
triton_account_uuid = "YOUR-TRITON-ACCOUNT-UUID"
triton_region = "TRITON-REGION"
triton_url = "https://us-east-1.api.joyent.com"
consul_name = "consul"
